{{extend 'layout.html'}}
<h2>About GyaaPushpa</h2>
<h1>
<br>
<p>
“GyaanPushpa” is a flowering plant of knowledge which aims to illumine lives and empower people. The project aims at fostering one to one interaction and in coaching and tutoring individuals by way of education and counseling. GyaanPuspa is a non-profitable organization where people are encouraged to come forward to share the views, their opinions to create the pathway for happy living. GyaanPushpa will be novel way of reaching out to the masses not with any fixed methodology but with the message that we care. The help rendered can be in the form of devoting time and energy in enhancing health consciousness or in promoting education. Help can also be provided by way of networking and providing education and comforts for better living. 
</p>
<p>
Gyaan Pushpa aims to encompass the energy and vigor of Indians in delivering promises to better living to create a resurgent India. Gyaan Pushpa at the nascent stage welcomes people cut across countries and culture; region and religion to join the mass movement to rejuvenate the Indian people in their quest for better living and a prosperous tomorrow. Let us herald the new dawn where we can remove the pain and the anguish, the trouble and the sorrow and despair to harvest the seeds of a flowering and prosperous country. 
Let us touch hearts and inner most chords of the soul.
Let there be music in our heart and joy in living.
</p>
</h1>

{{=BEAUTIFY(response._vars)}}
